//! @use for variables

@use '../../components/colors' as clr;
@use '../../components/fonts' as font;

//! @import for mixins

@import '../../components/reset';
@import '../../components/animations';
@import '../../components/logoBackground';

* {

    @include reset;
    @include transition;

    body {

        background-color: clr.$zsti-white;
        font-family: font.$primary-family;
        color: clr.$font-white;

        display: grid;
        height: 100vh;
        place-items: center;

        @include logo-background;

        .login {

            background-color: clr.$zsti-blue;
            padding: 6em 8em;
            border-radius: 2px;
            box-shadow: 10px 10px clr.$zsti-yellow;

            .form {

                display: grid;
                grid-template-rows: repeat(5, 1fr);
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: 
                    "firstName lastName"
                    "email email"
                    "password checkPassword"
                    "class submit";
                
                gap: 1em 3em;

                .item {

                    appearance: none;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    margin: 0;

                }

                input,
                select {

                    width: 30em;
                    background-color: clr.$zsti-blue;
                    color: clr.$font-white;
                    border: solid clr.$zsti-yellow;
                    border-width: 0 0 2px 0;
                    border-radius: 2px;
                    padding: 0.5em;

                }

                select {

                    width: 40%;

                }

                input[type="submit"] {

                    background-color: clr.$zsti-yellow;
                    border-radius: 2px;
                    color: clr.$font-blue;
                    height: 60%;
                    width: 40%;
                    margin: auto 0 auto auto;
                    margin-top: 20px;

                    &:hover {

                        width: 50%;
                        cursor: pointer;

                    }

                }

                &__firstName {

                    grid-area: firstName;

                }

                &__lastName {

                    grid-area: lastName;

                }

                &__email {

                    grid-area: email;

                }

                &__pass {

                    grid-area: password;

                }

                &__checkPass {

                    grid-area: checkPassword;

                }

                &__class {

                    grid-area: class;

                }

                &__btn {

                    grid-area: submit;

                }
                
            }

        }

    }

}