//! @use for variables

@use '../../components/colors' as clr;
@use '../../components/fonts' as font;

//! @import for mixins

@import '../../components/reset';
@import '../../components/animations';
@import '../../components/logoBackground';

* {

    @include reset;
    @include transition;

    body {
        
        background-color: clr.$zsti-white;

        font-family: font.$primary-family;
        font-size: font.$xxl;

        display: grid;
        height: 100vh;
        place-items: center;
        
        @include logo-background;

        .log-container {

            &__list {

                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 1.5em;

                text-align: center;

            }

            &__item {

                padding: 1em 5em;
                border-radius: 8px;
                background-color: clr.$zsti-blue;

                color: clr.$zsti-white;

                &:hover {

                    background-color: clr.$zsti-blue;
                    color: clr.$zsti-yellow;
                    box-shadow: 10px 10px clr.$zsti-yellow;

                }

            }

        }

    }

}