//! @use for variables

@use '../../components/colors.scss' as clr;
@use '../../components/fonts.scss' as font;

//! @import for mixins

@import '../../components/reset.scss';

* {
    
    @include reset;

    body {

        font-family: font.$primary-family;

        .container {
            display:flex;
            flex-direction:row;
        }
        .student-panel-menu {
            list-style-type: none;
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            flex-basis:30%;
            li {
                background-color:gray;
            }
            li:hover {
                background-color:blue;
            }
        }
        .container .panel-content {
            flex-basis:66%;
        }
        .hidden {
            display:none !important;
        }
    }

}