//! @use for variables

@use '../../components/colors' as clr;
@use '../../components/fonts' as font;

//! @import for mixins

@import '../../components/reset';
@import '../../components/post';
@import '../../components/nav';
@import '../../components/animations';

* {
    
    @include reset;
    @include transition;

    body {

        background-color: clr.$bckg-primary;
        font-family: font.$primary-family;

        overflow: hidden;

        @include navbar;

        .container {
            
            display:flex;
            flex-direction:row;
            height: 90vh;

            margin: 1em auto;

        }

        .student-panel-menu {

            list-style-type: none;
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            flex-basis:15%;

            li {

                width: 80%;

                display: grid;
                place-items: center;

                background-color: clr.$bckg-secondary;
                color: clr.$font-primary;
                height: 2.5em

            }

            li:hover {

                width: 100%;

                background-color: clr.$bckg-tetriary;
                color: clr.$font-secondary;
                cursor: pointer;

            }

        }
        
        .panel-content {

            flex-basis: 85%;
            overflow-y: scroll;
            padding: 0 2em;

            & a {

                position: fixed;
                display: grid;
                place-items: center;
                border-radius: 5px;
                border: 1px solid clr.$bckg-tetriary;
                background-color: clr.$bckg-secondary;
                width: 12em;
                padding: 0.6em;
                margin: 1em 0 0 0;
                color: clr.$font-primary;

                &:hover {

                    background-color: clr.$bckg-tetriary;
                    box-shadow: 0 0 10px clr.$bckg-tetriary;
                    color: clr.$font-secondary;

                }

            }

        }

        .hidden {

            display:none !important;

        }

        .posts-container {

            margin: auto;
            display: flex;
            flex-wrap: wrap;

            @include post;

        }
    }

}