* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.2s;
}
* body {
  background-color: #e5e5e5;
  font-family: Lato;
  overflow: hidden;
}
* body .navbar {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  gap: 0.5em;
  background-color: #002165;
}
* body .navbar__list {
  display: flex;
  flex-direction: row-reverse;
}
* body .navbar__item {
  background-color: #e5e5e5;
  color: #002165;
  display: grid;
  margin: 10px 2px;
  padding: 10px 20px;
  place-items: center;
  border-radius: 5px;
  background-color: #e5e5e5;
}
* body .navbar__item:hover {
  background-color: #f9b522;
}
* body .container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  margin: 1em auto;
}
* body .student-panel-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 15%;
}
* body .student-panel-menu li {
  width: 80%;
  display: grid;
  place-items: center;
  background-color: #f9b522;
  color: #002165;
  height: 2.5em;
}
* body .student-panel-menu li:hover {
  width: 100%;
  background-color: #002165;
  color: #e5e5e5;
  cursor: pointer;
}
* body .panel-content {
  flex-basis: 85%;
  overflow-y: scroll;
  padding: 0 2em;
}
* body .panel-content a {
  position: fixed;
  display: grid;
  place-items: center;
  border-radius: 5px;
  border: 1px solid #002165;
  background-color: #f9b522;
  width: 12em;
  padding: 0.6em;
  margin: 1em 0 0 0;
  color: #002165;
}
* body .panel-content a:hover {
  background-color: #002165;
  box-shadow: 0 0 10px #002165;
  color: #e5e5e5;
}
* body .hidden {
  display: none !important;
}
* body .posts-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
* body .posts-container .post {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "author author . subject subject" "hrf hrf hrf hrf hrf" "desc desc desc desc desc" "desc desc desc desc desc" "hrl hrl hrl hrl hrl" "type type . . more";
  flex-basis: 40%;
  gap: 0.5em;
  min-width: 400px;
  margin: 10px auto 10px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9b522;
  border: 1px solid #002165;
  box-shadow: 5px 5px #002165;
}
* body .posts-container .post--wide {
  flex-basis: 60%;
}
* body .posts-container .post__author {
  grid-area: author;
  font-size: 18px;
}
* body .posts-container .post__hr:first-of-type {
  grid-area: hrf;
  height: 1px;
  margin: 0 20px;
  background-color: #002165;
  border: none;
}
* body .posts-container .post__hr:last-of-type {
  grid-area: hrl;
  height: 1px;
  margin: 0 20px;
  background-color: #002165;
  border: none;
}
* body .posts-container .post__subject {
  grid-area: subject;
  text-transform: uppercase;
}
* body .posts-container .post__description {
  grid-area: desc;
  padding: 0 20px;
}
* body .posts-container .post__description:first-letter {
  text-transform: capitalize;
}
* body .posts-container .post__type {
  grid-area: type;
}
* body .posts-container .post__more {
  grid-area: more;
  padding: 5px 0;
  background-color: #002165;
  border-radius: 5px;
  color: #e5e5e5;
  display: grid;
  place-content: center;
  cursor: pointer;
}
* body .posts-container .post__more:hover {
  background-color: #e5e5e5;
}
* body .posts-container .post__more:hover > a {
  color: #002165;
}
* body .posts-container .post__more a {
  color: #e5e5e5;
}/*# sourceMappingURL=panel.css.map */