//! @use for variables

@use '../../components/colors' as clr;
@use '../../components/fonts' as font;

//! @import for mixins

@import '../../components/reset';
@import '../../components/post';
@import '../../components/nav';

* {
    
    @include reset;

    body {

        background-color: clr.$bckg-primary;
        font-family: font.$primary-family;

        @include navbar;

        .container {
            
            display:flex;
            flex-direction:row;

        }

        .student-panel-menu {

            list-style-type: none;
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            flex-basis:30%;

            li {

                background-color:gray;

            }

            li:hover {

                background-color:blue;

            }

        }

        .container .panel-content {

            flex-basis:66%;

        }

        .hidden {

            display:none !important;

        }

        .posts-container {

            margin: auto;
            display: flex;
            flex-wrap: wrap;

            @include post;

        }
    }

}