@mixin button {

    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;

    display: flex;
    align-items: center;

    &:hover {

        @include hover;
        
    }
    
}

@mixin hover {

    background-color: clr.$accent-primary;
    color: clr.$font-primary;

}