@mixin buttons {

    display: grid;
    margin: 10px 2px;
    padding: 10px 20px;
    place-items: center;
    border-radius: 5px;

    background-color: clr.$bckg-primary;

    &:hover {

        background-color: clr.$bckg-secondary;

    }

}