@mixin primary-color-set {

    background-color: clr.$bckg-primary;
    color: clr.$font-primary;
    border-color: clr.$accent-secondary;

}

@mixin secondary-color-set {

    background-color: clr.$bckg-secondary;
    color: clr.$font-primary;
    border-color: clr.$accent-tetriary;

}

@mixin tetriary-color-set {

    background-color: clr.$bckg-tetriary;
    color: clr.$font-secondary;
    border-color: clr.$accent-primary;

}