//* background colors

$bckg-primary: #e5e5e5;
$bckg-secondary: #f9b522;
$bckg-tetriary: #002165;

//* accent colors

$accent-primary: #f9b522;
$accent-secondary: #002165;
$accent-tetriary: #e5e5e5;

//* font colors

$font-primary: #002165;
$font-secondary: #e5e5e5;