@import 'buttons';

@mixin navbar {

    .navbar {

        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        gap: 0.5em;

        background-color: clr.$bckg-tetriary;

        &__list {

            display: flex;
            flex-direction: row-reverse;

        }

        &__item {

            background-color: clr.$accent-tetriary;
            
            @include buttons;
        
            & a {
                
                color: clr.$font-secondary;

            }

        }

    }

}