@mixin post {

    .post {

        display: grid;
        grid-column-gap: 0;
        grid-row-gap: 0;

        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);

        grid-template-areas: 
            "author author . subject subject"
            "hrf hrf hrf hrf hrf"
            "desc desc desc desc desc"
            "desc desc desc desc desc"
            "hrl hrl hrl hrl hrl"
            "type type . . more";

        flex-basis: 40%;
        gap: 0.5em;
        min-width: 400px;
        
        margin: 10px auto 10px auto;
        padding: 10px;
        border-radius: 5px;
        background-color: clr.$bckg-secondary;
        border: 1px solid clr.$accent-secondary;
        box-shadow: 5px 5px clr.$bckg-tetriary;

        &--wide {
            flex-basis: 60%;
        }
        
        &__author {

            grid-area: author;
            font-size: font.$m;

        }

        &__hr:first-of-type {

            grid-area: hrf;

            height: 1px;
            margin: 0 20px;

            background-color: clr.$accent-secondary;
            border: none;

        }

        &__hr:last-of-type {

            grid-area: hrl;

            height: 1px;
            margin: 0 20px;

            background-color: clr.$accent-secondary;
            border: none;

        }
        
        &__subject { 
            
            grid-area: subject;

            text-transform: uppercase;

        }
        
        &__description { 

            grid-area: desc;

            padding: 0 20px;

            &:first-letter {

                text-transform: capitalize;

            }

        }
        
        &__type {
            grid-area: type; 
        }

        &__more {

            grid-area: more;
            padding: 5px 0;

            background-color: clr.$bckg-tetriary;
            border-radius: 5px;
            color: clr.$font-secondary;

            display: grid;
            place-content: center;
            cursor: pointer;

            &:hover {

                background-color: clr.$bckg-primary;

                & > a {

                    color: clr.$font-primary;

                }

            }

            & a {

                color: clr.$font-secondary;

            }

        }
        
    }

}