@mixin post {

    .post {

        display: grid;
        grid-column-gap: 0;
        grid-row-gap: 0;

        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);

        grid-template-areas: 
            "author author . subject subject"
            "desc desc desc desc desc"
            "desc desc desc desc desc"
            ". . . type type";

        flex-basis: 40%;
        gap: 0.5em;
        min-width: 400px;
        
        margin: 10px auto 10px auto;
        padding: 10px;
        border: 1px solid;

        &--wide {
            flex-basis: 80%;
        }
        
        &__author {
        
            grid-area: author;
            font-size: font.$m;
        
        }
        
        &__subject {
        
            grid-area: subject;
        
        }
        
        &__description {
        
            grid-area: desc;
        
        }
        
        &__type {
        
            grid-area: type;
        
        }
        
    }

}