//! @use for variables

@use 'components/color-scheme.scss' as clr;
@use 'components/fonts.scss' as font;

//! @import for mixins

@import 'components/buttons.scss';
@import 'components/grids.scss';

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {

        background-color: clr.$main-bckg;
        color: font.$main-clr;
        font-family: font.$main-family;

        .navbar {

            position: fixed;
            padding: 0 10px;
            width: 20%;
            height: 100vh;

            background-color: clr.$tetriary-bckg;

            &__item {

                display: block;
                background-color: clr.$secondary-bckg;
                @include button;
              
                & a {
                    
                    color: font.$secondary-clr;

                }

            }

        }

        .posts-container {

            margin: auto auto auto 20%;
            display: flex;
            flex-wrap: wrap;

            .post {

                flex-basis: 40%;
                gap: 0.5em;
                min-width: 400px;

                margin: 10px auto 10px auto;
                padding: 10px;
                border: 1px solid clr.$main-accent;
                
                @include post-grid-base;

                &__author {

                    grid-area: author;
                    font-size: font.$medium-size;

                }

                &__subject {

                    grid-area: subject;

                }

                &__description {

                    grid-area: desc;

                }

                &__type {

                    grid-area: type;

                }

            }

        }

    }

}